@use 'styles/mixins' as *;

.loaderRoot {
  display: flex;
  align-items: center;
}

.loader_color_second,
.loader_color_fourth {
  svg path {
    stroke: var(--red);
  }
}

.loader_color_first,
.loader_color_third {
  svg path {
    stroke: var(--white);
  }
}

.loaderIcon {
  width: rem(24);
  height: rem(24);

  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.loader_sizeS {
  width: 20px;
}


.loader_sizeM {
  width: rem(40);
  height: rem(40);
}


.loader_sizeL {
  width: rem(60);
  height: rem(60);
}